form{
    width: 100%;
}
.center-page{
    width: 100vw;
    height: 100vh;
}
.greenColor{
    color: forestgreen;
}
.redColor{
    color: crimson;
}
.orangeColor{
    color: orange;
}
.blueColor{
    color: blue;
}
.main-btn{
    width: 95%;
}
.cards-box{
    min-height: 300px;
}
.add-card-btn{
    width: 100%;
    border: none;
    font-weight: bold;
}
.add-card-btn i{
    font-size: large;
}
.add-card-btn:hover{
    background-color: #5958586b;
}
.list-body-sec{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}
.actual-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #5958586b;
    min-height: 100px;
    width: 95%;
    border-radius: 2px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.actual-card:hover{
    background-color: rgba(54, 53, 53, 0.371);
}
.dragging{
    background-color: rgba(54, 53, 53, 0.371);
}
.dragging-list{
    background-color: rgba(16, 15, 15, 0.371);
}
.select-label{
    width: 210px;
}
@media only screen and (min-width : 768px) {
    .drop-down-item{
        width: 50%;
    }
}
